h1{
    width: 100%;
    font-size: 100px;
    cursor: pointer;
    background-color: aqua;
    text-align: center;
    margin: 2rem auto;
    padding:0.7rem;
}
input{
    width: 40%;
    height: 2rem;
    padding: 4px ;
    outline: none;
}
button{
    padding: 1rem;
    margin: 5px;
}
label{
    font-size: larger;
}